@media (min-width: 992px) {
    .onboarding-w-60 {
        width: 60% !important;
    }
}

.onboarding-main-title{
    font-size: 28px;
}

.onboarding-second-title{
    font-size: 16px;
}

.onboarding-screen{
    &-1{
        background-color: #f7e0e0 !important;
    }
    &-2{
        background-color: #e7f3fd !important;
    }
    &-3{
        background-color: #f7e7fd !important;
    }
}